test/*.html
*.pyc
.idea
.DS_Store
admin
build
getrediskeys
yig
integrate/cephconf
integrate/data
integrate/logs
yig
lc
yig-restore
migrate
*.log
*.swp
yig
*.rpm
rpm-build/
*.so
tools/tikvtool/tikvtool
tikv-tool
