[Unit]
Description=yig
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/yig
ExecStop=/usr/bin/killall yig
Restart=always

[Install]
WantedBy=multi-user.target
