[Unit]
Description=yig delete process
After=network.target

[Service]
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65535
Type=simple
ExecStart=/usr/bin/yig_delete_daemon
ExecStop=/usr/bin/kill $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
